*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: linear-gradient(
      25deg,
      rgba(66, 230, 149, 1),
      rgba(66, 32, 149, 1)
    );
    background-repeat: no-repeat;
    background-size: 200%;
    padding: 10px;
}

.container-gallery{
    max-width: 1000px;
    width: 100%;
    background: white;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    border-radius: 14px;
    box-shadow: 0px 0px 40px -5px;
}

h2{
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    color: #575757;
    margin-top: 20px;
}

.btn-recient{
    display: block;
    margin: auto;
    margin-top: 40px;
    padding: 14px 40px;
    font-size: 14px;
    color: white;
    border: none;
    background: #422095;
    transition: all 500ms cubic-bezier(1,0,0,1);
    cursor: pointer;
    border-radius: 4px;
}

.btn-recient:hover{
    background: #d314d3;
}


.gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

figure{
    width: 300px;
    height: 160px;
    position: relative;
    overflow: hidden;
    margin: 10px;

}

figure:hover h1{
    opacity: 1;
}

figure img{
    width: 100%;
}

figure h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: rgba(0,0,0,0.6);
    padding: 100px;
    opacity: 0;
    transition: all 600ms cubic-bezier(1,0,0,1);
    cursor: default;
}

.fa-plus{
    width: 60px;
    height: 60px;
    position: fixed;
    z-index: 1;
    right: 40px;
    bottom: 40px;
    background: white;
    border-radius: 50%;
    font-size: 40px;
    padding: 10px;
    color: #575757;
    box-shadow: 0px 0px 40px -5px;
    text-align: center;
    transition: all 600ms cubic-bezier(1,0,0,1);
    cursor: pointer;
}

.fa-plus:hover{
    transform: rotate(90deg);
}


form{
    max-width: 500px;
    width: 100%;
    background: white;
    padding: 20px;
    margin: auto;
    position: fixed;
    top: -400px;
    left: 50%;
    transform: translate(-50%);
    z-index: 3;
    box-shadow: 0px 0px 40px -5px;
}

form h3{
    text-align: center;
    color: #575757;
}

.title-image{
    width: 100%;
    padding: 6px;
    font-size: 16px;
    margin-top: 20px;
}

.image-select{
    width: 100%;
    height: 150px;
    margin-top: 40px;
}

.load-image{
    padding: 14px 40px;
    background: #ff5800;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    transition: all 500ms cubic-bezier(1,0,0,1);
}

.upload{
    padding: 14px 40px;
    background: #0089ff;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    transition: all 500ms cubic-bezier(1,0,0,1);
}

.load-image:hover,
.upload:hover{
    background: #575757;
}

.seleted{
    display: none;
}

.shape{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    display: none;
}


@media screen and (max-width: 700px){
    
    .container-gallery{
        margin-top: 0px;
    }
}











